@font-face {
    font-family: ComicRelief-Regular;
    src: url(ComicRelief-Regular.ttf);
}

/* Default styling */
html {
    background-color: #181818;
    color: #e6e6e6;
}

/* Containers styling */
div.container, div.container2, div.container3, div.container4 {
    width: fit-content;
    max-width: 50%;
    min-width: 25%;
    padding: 0.5rem 3rem;
    margin: 1rem 3rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

div.container {
    background-color: rgba(255, 255, 255, 0.05);
}

div.container2 {
    background-color: rgba(0, 0, 0, 0.15);
}

div.container3 {
    background-image: url(images/Sunset.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-shadow: 2px 2px #181818e6;
    background-color: rgba(255, 255, 255, 0.05);
}

div.container4 {
    background-color: rgba(255, 255, 255, 0.05);
    border: medium dashed cyan;
}

div.auto-margin {
    margin: 3rem auto;
}

div.big-padding {
    padding: 40px 100px;
}

div.more-size {
    height: 300px;
    max-width: 75%;
}

div.full-wide {
    width: 95%;
    margin-left: 0px;
    margin-right: 0px;
    max-width: none;
}

div.fixed-height-scroll {
    height: 191.833px;
    overflow: scroll;
}

div.clear-floaty {
    float: right;
}

/* Misc styling */
h1 {
    text-decoration: underline #e6e6e6;
}

h2#head2-change-1 {
    font-size: 40px;
    color: red;
}

.container2 h2 {
    color: aqua;
}

.container2 p {
    font-weight: bold;
}

p.all-text {
    color: magenta;
    text-align: right;
    text-decoration: underline wavy cyan 1px;
    text-indent: 4rem;
    letter-spacing: 3px;
}

p.capital {
    text-transform: capitalize;
}

p.high-line {
    line-height: 2rem;
}

p.right-to-left {
    direction: rtl;
    unicode-bidi: bidi-override;
}

a.custom-link:link {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    transition: 0.3s;
    color: #139290;
}

a.custom-link:visited {
    color: rgb(187, 20, 14);
}

a.custom-link:hover {
    color: aqua;
    border-bottom: 2px solid #e6e6e6;
    text-shadow: 0.2rem 0.2rem black;
}

a.custom-link:active {
    color: #139290;
    text-shadow: none;
}

a.useful-link:link {
    color: #3aefeb;
}

a.useful-link:visited {
    color: #139290;
}

ol.roman-list {
    list-style-type: upper-roman;
}

ul.circle-list {
    list-style-type: circle;
}

/* Fonts */

h2.head-font {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p.para-font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p.para-font-2 {
    font-family: ComicRelief-Regular, sans-serif;
}

/* colour definition variations */

.RGB {
    color: rgb(120, 61, 233);
}

.HEX {
    color: #3aefeb;
}

.HSL {
    color: hsl(140, 39%, 71%);
}

.RGBA {
    color: rgba(244, 61, 104, 0.57);
}

.HSLA {
    color: hsla(199, 74%, 60%, 0.97);
}

.colour-name {
    color: magenta;
}

/* Positioning styles */

div.position-container {
    border: 5px solid #000;
    height: 750px;
    background-color: rgba(255, 255, 255, 0.1);
}

div#static-box {
    width: fit-content;
    background-color: red;
    position: static;
}

div#relative-box {
    width: fit-content;
    background-color: blue;
    position: relative;
    left: 30px;
}

div.fixed-box {
    background-color: rgba(0, 128, 0, 0.1);
    min-width: none;
    max-width: none;
    position: fixed;
    top: 30px;
    right: 100px;
}

div#absolute-box {
    width: fit-content;
    background-color: yellow;
    color: #000;
    position: absolute;
    right: 250px;
    bottom: 100px;
}

div.sticky-box {
    background-color: rgba(255, 0, 255, 0.5);
    min-width: none;
    max-width: none;
    position: sticky;
    top: 0;
}

div#picture1 {
    background-image: url(images/Sunset.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 500px;
    height: 305px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    text-shadow: 2px 2px #181818e6;
    position: absolute;
    top: 300px;
    left: 700px;
    z-index: 1;
}

div#picture2 {
    background-image: url(images/Sunset.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 500px;
    height: 305px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    text-shadow: 2px 2px #181818e6;
    position: absolute;
    top: 100px;
    left: 400px;
}

div#circlered {
    background-color: rgba(255, 0, 0, 0.3);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100px;
    right: 300px;
    z-index: 4;
    border: 1px solid #000;
}

div#circleblue {
    background-color: rgba(0, 0, 255, 0.3);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 154px;
    right: 269px;
    z-index: 3;
    border: 1px solid #000;
}

div#circlegreen {
    background-color: rgba(0, 255, 0, 0.3);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 154px;
    right: 331px;
    z-index: 2;
    border: 1px solid #000;
}

div#backgroundwhite {
    background-color: white;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 84px;
    right: 250px;
    z-index: 1;
}
